#signUpButton{
    transition: bottom .3s cubic-bezier(.5,2.5,.7,.7);
    transform: translateY(0);
    transition: transform .3s cubic-bezier(.5,2.5,.7,.7),box-shadow .3s cubic-bezier(.5,2.5,.7,.7),-webkit-transform .3s cubic-bezier(.5,2.5,.7,.7),-webkit-box-shadow .3s cubic-bezier(.5,2.5,.7,.7)
}

